<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="text-center">Last Match</h1>
      <div class="col-lg-3 col-lg-offset-2 text-right">
        <div class="row">
          <h2><%= @recent_matches[0].player_a_name %></h2>
        </div>
        <div class="row">
          <h5>Rating <%= @last_match_player_a.rating %>
            <%= render 'shared/player_rating_delta', rating_delta: @last_match.player_a_rating_delta %>
          </h5>
          </span>
        </div>
        <div class="row">
          <h2><%= @recent_matches[0].player_a_score %></h2>
        </div>
      </div>
      <div class="col-lg-3 col-lg-offset-2 text-left">
        <div class="row">
          <h2><%= @recent_matches[0].player_b_name %></h2>
        </div>
        <div class="row">
          <h5>Rating <%= @last_match_player_b.rating %>
            <%= render 'shared/player_rating_delta', rating_delta: @last_match.player_b_rating_delta %>
          </h5>
        </div>
        <div class="row">
          <h2><%= @recent_matches[0].player_b_score %></h2>
        </div>
      </div>
    </div>
  </div>
</div>